<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head', {title: 'home'}) %>
  <body>
    <%- include('partials/nav', {navtitle: 'Fran'}) %>
    <h1><%= title %></h1>
    <h1 style="font-weight: lighter;">Que pena profe, no me dio el ki, necesito ponerme al día en Playgorund para sentirme poderoso D:</h1>
  </body>
</html>